	<div id="index-banner" class="parallax-container">
		<before-login-nav></before-login-nav>
		<div class="section no-pad-bot">
			<div class="container pad_tb_7" style="position: relative;">
				<div class="row center">
					<h4 class="header col s12 light captionTxt">Explore Idea, Discover People, Connect the Missing Dots of Your Idea!</h4>
				</div>
				<div class="indexbtnDiv center">
					<a href="javascript:void(0);" id="download-button" class="btn-large waves-effect waves-light ylw_btn">Kick start your project</a>
				</div>
			</div>
		</div>
		<div class="parallax" parallax>
			<img src="images/background1.jpg" alt="Unsplashed background img 1">
		</div>
		<p class="svgImg">
			<svg width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
				<path d="M0 0 L0 100 L54 100 Z" style="fill:#26a69a;" />
				<path d="M100 0 L46 100 L100 100 Z" style="fill:#26a69a;" />
			</svg>
		</p>
	</div>

	<!-- Discol About Section -->
	<section class="gap_5 dscl_aboutDiv">
		<div class="container">
			<h3>About Us</h3>
			<p>
				Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
				Totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam.
			</p>
		</div>
	</section>

	<!-- Projects STEPS -->
	<section id="Steps" class="steps-section gap_5 projectsSection">
		<div class="container-fluid">
			<div class="row">
				<div class="col s12 m6 center offset-m3">
					<p class="steps-img steps-img-main valign-wrapper"><i class="material-icons valign center">landscape</i></p>
					<h4>Projects</h4>
					<p>Create projects and invite people. Projects combine all of the features above into a single mindset or theme</p>
				</div>
			</div>
			<div class="row">
				<div class="col s12 center">
					<div class="steps-timeline">
						<ul class="projectsList">
							<li>
								<p class="steps-img valign-wrapper"><i class="material-icons valign center">send</i></p>
								<a href="javascript:volid(0);" class="steps-name">Posts</a>
								<div class="steps-description">
									The timeline is created using negative margins and a top border.
								</div>
							</li>
							<li>
								<p class="steps-img valign-wrapper"><i class="material-icons valign center">mode_edit</i></p>
								<a href="javascript:volid(0);" class="steps-name">Blogs</a>
								<div class="steps-description">
									All elements are positioned realtive to the parent. No absolute positioning.
								</div>
							</li>
							<li>
								<p class="steps-img valign-wrapper"><i class="material-icons valign center">wb_incandescent</i></p>
								<a href="javascript:volid(0);" class="steps-name">Ideas</a>
								<div class="steps-description">
									The timeline does not extend past the first and last elements.
								</div>
							</li>
							<li>
								<p class="steps-img valign-wrapper"><i class="material-icons valign center">flash_on</i></p>
								<a href="javascript:volid(0);" class="steps-name">Brainstroms</a>
								<div class="steps-description">
									All elements are positioned realtive to the parent. No absolute positioning.
								</div>
							</li>
							<li>
								<p class="steps-img valign-wrapper"><i class="material-icons valign center">my_location</i></p>
								<a href="javascript:volid(0);" class="steps-name">Goals</a>
								<div class="steps-description">
									The timeline does not extend past the first and last elements.
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- parallax -->
	<div class="parallax-container valign-wrapper caption-section">
		<section class="container no-pad-bot">
			<div class="row center">
				<h4 class="header col s12 light captionTxt">A modern way to start collaborating with people, Brainstrom ideas, Jump Start Projects, Achive Goals.</h4>
			</div>
			<div class="row center">
				<a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light ylw_btn">Sign Up</a>
			</div>
		</section>
		<div class="parallax" parallax><img src="images/background2.jpg" alt="Unsplashed background img 2"></div>
	</div>

	<!-- peeps of the week -->
	<section class="gap_5 peepSection">
		<div class="container-fluid">
			<div class="row">
				<div class="col s12 center">
					<h4>Peeps of the week</h4>
					<ul class="peepsList">
						<li>
							<img class="circle responsive-img blck_border" src="images/peep01.jpg" alt="">
							<p>Fredrick Richardson</p>
						</li>
						<li>
							<img class="circle responsive-img blck_border" src="images/peep02.jpg" alt="">
							<p>John Doe</p>
						</li>
						<li>
							<img class="circle responsive-img blck_border" src="images/peep03.jpg" alt="">
							<p>Thomasin Yeobright</p>
						</li>
						<li>
							<img class="circle responsive-img blck_border" src="images/peep04.jpg" alt="">
							<p>George Doe</p>
						</li>
						<li>
							<img class="circle responsive-img blck_border" src="images/peep05.jpg" alt="">
							<p>Isabella Wordsworth</p>
						</li>
						<li>
							<img class="circle responsive-img blck_border" src="images/peep06.jpg" alt="">
							<p>Jane Brontee</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<!-- parallax -->
	<div class="parallax-container valign-wrapper caption-section">
		<section class="container no-pad-bot">
			<div class="row center">
				<h4 class="header col s12 light captionTxt">Kickstart Your Project, Collaborate with ideas, Discover people, Get Connected</h4>
			</div>
		</section>
		<div class="parallax" parallax><img src="images/background3.jpg" alt="Unsplashed background img 3"></div>
	</div>

	<!-- footer -->
	<footer-custom></footer-custom>
