<div class="dashboardSec">
	<div class="row">
		<div class="col m8 s12">
			<div class="row" ng-show="!contentLoaded">
				<loader loader-text="loadingPostText" ng-init="loadingPostText='Loading post...'"></loader>
			</div>
			<div class="col s12" ng-if="contentLoaded">
				<post-card data-content="content"></post-card>
				<comments-card ng-if="content.id" data-contentid="content.id"></comments-card>
			</div>
		</div>
		<div class="col m4 s12">
			<dummy-content-post></dummy-content-post>
		</div>
	</div>
</div>
