	<div class="container-fluid dashboardSec">
		<div class="row" ng-show="!contentLoaded">
			<loader></loader>
		</div>
		<div class="row" ng-if="contentLoaded">
				<!-- <user-info data-user="content.user"></user-info> -->
				<a href="javascript:void(0);" data-activates="nav-mobile-inner" data-sidenav="right" data-menuwidth="250" data-closeonclick="false" class="button-collapse"><i class="material-icons">menu</i></a>
				<ul id="nav-mobile-inner" class="side-nav inner-sideNav show-on-med-and-up">
				    <li><div class="userView no-pad center">
				      <div class="background">
				        <img src="../images/img9.jpg">
				      </div>
				      <!-- <p class="svgImg">
						<svg width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
							<path d="M0 0 L0 100 L54 100 Z" style="fill:#26a69a;" />
							<path d="M100 0 L46 100 L100 100 Z" style="fill:#26a69a;" />
						</svg>
					  </p> -->
					  <p class="svgImg">
						<svg width="100%" height="50" viewBox="0 0 100 100" preserveAspectRatio="none">
							<path d="M0 0 L0 100 L56 100 Z" style="fill:#ffffff;" />
							<path d="M100 0 L44 100 L100 100 Z" style="fill:#ffffff;" />
						</svg>
					  </p>
				      <a href="#!user" class="sideNav_userPic"><img class="circle" src="../images/peep01.jpg"></a>
				      <a href="#!name" class="sideNav_userName"><span class="white-text name">John Doe</span></a>
				    </div></li>
				    <li class="white-text"><a href="#!"><i class="material-icons white-text">cloud</i>First Link With Icon</a></li>
				    <li class="white-text"><div class="divider"></div></li>
				  </ul>
			<div class="col s12 m6 offset-m4">
				<post-card data-content="content"></post-card>
				<comments-card ng-if="content.id" data-contentid="content.id"></comments-card>
			</div>
		</div>
	</div>
