<div class="container-fluid">
    <div class="navbar-fixed dscl-fixed-nav">
	<nav class="white dscl_inner_nav" role="navigation">
		<div class="nav-wrapper">
			<a id="logo-container" href="#!/" class="brand-logo"><img class="brand-logo-img" src="../images/discol_logo_blk.png" alt="Discol" /></a>
			<ul class="right hide-on-med-and-down">
				<li ng-class="getClass('/posts')">
					<a href="#!/posts" class="blue-text" tooltipped data-position="bottom" data-delay="50" data-tooltip="Posts"><i class="material-icons">send</i></a>
				</li>
				<li>
					<a href="#!/blogs" class="deep-orange-text text-lighten-2" tooltipped data-position="bottom" data-delay="50" data-tooltip="Blogs"><i class="material-icons">edit</i></a>
				</li>
				<li>
					<a href="javascript:void(0);" class="yellow-text" tooltipped data-position="bottom" data-delay="50" data-tooltip="Ideas"><i class="material-icons">wb_incandescent</i></a>
				</li>
				<li>
					<a href="javascript:void(0);" class="orange-text" tooltipped data-position="bottom" data-delay="50" data-tooltip="Brainstorm"><i class="material-icons">flash_on</i></a>
				</li>
				<li>
					<a href="javascript:void(0);" class="red-text" tooltipped data-position="bottom" data-delay="50" data-tooltip="Goals"><i class="material-icons">my_location</i></a>
				</li>
				<li>
					<a href="javascript:void(0);" class="teal-text" tooltipped data-position="bottom" data-delay="50" data-tooltip="Projects"><i class="material-icons">terrain</i></a>
				</li>
				<li>
					<a href="javascript:void(0);" ><span class="new badge red" style="margin-left: -25px;">4</span><i class="material-icons left">notifications</i></a>
				</li>
				<li>
					<a class='dropdown-button' href='javascript:void(0);' data-beloworigin="true" data-activates='userDropdown' dropdown data-hover="false" >{{user.first_name}}<i class="material-icons right">more_vert</i></a>
					<ul id='userDropdown' class='dropdown-content'>
						<li><a href="javascript:void(0);" ng-click="logout()">Logout</a></li>
						<li><a href="#!/dashboard">Settings</a></li>
					</ul>
				</li>
			</ul>

			<ul id="nav-mobile" class="side-nav">
				<li>
					<a href="javascript:void(0);" ><i class="material-icons left">notifications</i> Notifications <span class="new badge red">4</span></a>
				</li>
				<li ng-class="getClass('/posts')">
					<a href="#/posts" class="blue-text"><i class="material-icons left">send</i> Posts</a>
				</li>
				<li>
					<a href="javascript:void(0);" class="brown-text"><i class="material-icons left">edit</i> Blogs</a>
				</li>
				<li>
					<a href="javascript:void(0);" class="yellow-text"><i class="material-icons left">wb_incandescent</i> Ideas</a>
				</li>
				<li>
					<a href="javascript:void(0);" class="orange-text"><i class="material-icons left">flash_on</i> Brainstorm</a>
				</li>
				<li>
					<a href="javascript:void(0);" class="red-text"><i class="material-icons left">my_location</i> Goals</a>
				</li>
				<li>
					<a href="javascript:void(0);" class="teal-text"><i class="material-icons left">terrain</i> Projects</a>
				</li>
				<li><a href="#!/dashboard"><i class="material-icons left">person</i> Dashboard</a></li>
				<li><a href="javascript:void(0);" ng-click="logout()"><i class="material-icons left">power_settings_new</i> Logout</a></li>
			</ul>
			<a href="#" data-activates="nav-mobile" data-sidenav="right" data-menuwidth="250" data-closeonclick="true" class="button-collapse right"><i class="material-icons">menu</i></a>
		</div>

	</nav>
	<!-- Nav Floating -->
	<div class="fixed-action-btn cust-fixed-action-btn">
		<a class="btn-floating btn-large red">
			<i class="large material-icons">add</i>
		</a>
		<ul>
			<li class="waves-effect waves-light">
				<a href="javascript:void(0)" tooltipped data-position="left" data-delay="50" data-tooltip="New Goal" class="btn-floating red"><i class="material-icons">my_location</i></a>
			</li>
			<li class="waves-effect waves-light">
				<a href="javascript:void(0)" tooltipped data-position="left" data-delay="50" data-tooltip="New Brainstorm" class="btn-floating orange"><i class="material-icons">flash_on</i></a>
			</li>
			<li class="waves-effect waves-light">
				<a href="javascript:void(0)" tooltipped data-position="left" data-delay="50" data-tooltip="New Idea" class="btn-floating yellow"><i class="material-icons">wb_incandescent</i></a>
			</li>
			<li class="waves-effect waves-light">
				<a href="javascript:void(0)" tooltipped data-position="left" data-delay="50" data-tooltip="New Blog" class="btn-floating brown"><i class="material-icons">edit</i></a>
			</li>
			<li class="waves-effect waves-light">
				<a href="javascript:void(0)" ng-click="showNewPostDialog($event)" tooltipped data-position="left" data-delay="50" data-tooltip="New Post" class="btn-floating light-blue"><i class="material-icons">send</i></a>
			</li>
		</ul>
	</div>
</div>
</div>
