
<div class="panel white">
	<div class="row">
		<form class="col s12" name="frmComment" ng-submit="saveComment(newComment)">
            <div class="col s9">
				<div class="input-field">
					<!-- <i class="material-icons prefix">message</i> -->
					<textarea id="icon_prefix" name="newComment" ng-model="newComment" class="validate materialize-textarea no-pad"></textarea>
					<label for="icon_prefix">Your Comment</label>
				</div>
            </div>
            <div class="col s3">
                <div class="input-field">
			<button type='submit' class='btn btn-default' style="width:100%" ng-disabled="!newComment || newComment.length < 15 || savingComment"><i class="material-icons" ng-hide="savingComment">send</i><i class="fa fa-fw fa-spin fa-spinner" ng-show="savingComment"></i></button>
                </div>
					</div>
		</form>
		<div class="center col s12" ng-show="!commentsLoaded">
			<loader></loader>
		</div>
		<div class="col s12">
			<ul class="collection no-bordered">
				<li class="collection-item avatar" ng-repeat="comment in comments">
					<img ng-src="{{comment.user.profile_picture}}" ng-init="comment.user.profile_picture=comment.user.profile_picture || '../images/user.png'" alt="" class="circle">
					<span class="title userInfo teal-text">
						{{comment.user.first_name}} {{comment.user.last_name}} | <span>{{comment.created | date}}</span>
					</span>
					<ng-embed
						embed-data="comment.text"
						embed-options="options"
					></ng-embed>
					<a href="#!" class="secondary-content blue-text"><i class="material-icons">thumb_up</i></a>
				</li>
			</ul>
		</div>

	</div>
</div>
