<div class="card cust-card sticky-action">
	<div class="card-image waves-effect waves-block waves-light" style="height:250px" ng-show="content.header.image_url || content.header.video_url">
		<span class="category_icon valign-wrapper" ng-bind-html="getContentIcon(content.content_type)"></span>
		<img ng-hide="content.header.video_url" class="activator responsive-img" ng-src="{{content.header.image_url}}">
		<embed-video ng-show="content.header.video_url" width="100%" height="250px" href="{{content.header.video_url}}"></embed-video>
	</div>
	<div class="card-content" ng-class="getContentBg(content.content_type)">
		<p>
			<a href="#!/people/{{content.user.id}}" tooltipped data-position="bottom" data-delay="50" data-tooltip="View profile of {{content.user.first_name}}">
				<img  class="userPic" ng-src="{{content.user.profile_picture}}" ng-init="content.user.profile_picture = content.user.profile_picture || '../images/user.png'" alt="User"/>
			</a>
		</p>
		<span class="card-title"><a ng-href="#!/posts/{{content.id}}" class="white-text truncate">{{content.content_type}}</a>
			<a ng-href="#!/posts/{{content.id}}"><i class="material-icons activator white-text">visibility</i><a>
		</span>
		<p class="userName">
			<a href="#!/people/{{content.user.id}}" tooltipped data-position="bottom" data-delay="50" data-tooltip="View profile of {{content.user.first_name}}" class="white-text">{{content.user.first_name}} {{content.user.last_name}}</a> |
			{{content.created | date}}
		</p>
		<p class="white-text truncate">
			{{content.text}}
		</p>
	</div>
	<div class="card-action clearfix" ng-class="getContentBg(content.content_type)">
		<a href="javascript:void(0)" ng-click="saveLike(content)" ng-class="(content.doesThisUserLikesContent)?'disabled':''">
			<div class="chip ">
				<i ng-hide="content.liking" class="material-icons white-text">thumb_up</i>
				<i class="fa fa-fw fa-spin fa-spinner" ng-show="content.liking"></i>
				{{content.like_count}}
			</div>
		</a>
		<div class="chip">
			<i class="material-icons white-text">share</i>{{content.share_count}}
		</div>

		<a href="javascript:void(0)" ng-click="loadComments(content)" tooltipped data-position="bottom" data-delay="50" data-tooltip="Comment on this or view {{content.comment_count}} comment(s)">
			<div class="chip">
			<i class="material-icons white-text">message</i>{{content.comment_count}}
			</div>
		</a>

	</div>

	<div ng-show="content.showComments">
		<ul class="collection no-bordered">
			<li class="collection-item avatar">
				<img ng-src="{{user.profile_picture}}" alt="" class="circle">
				<span class="title userInfo teal-text">
					{{user.first_name}} {{user.last_name}} | <span>{{currentTime | date: 'medium' }}</span>
				</span>
				<div class="input-field">
					<textarea id="icon_prefix" ng-model="content.newComment" class="validate materialize-textarea no-pad"></textarea>
					<label for="icon_prefix">
						Your Comment
					</label>
				</div>
				<div class="" style="text-align:right">
					<button class="btn small blue" ng-disabled="!content.newComment || content.newComment.length < 25 || content.savingComment" ng-click="saveComment(content)">
						<i class="material-icons" ng-hide="content.savingComment">send</i>
						<span ng-show="content.savingComment">Saving...</span>
					</button>
				</div>
			</li>
			<li class="collection-item avatar" ng-repeat="comment in content.comments">
				<a href="#!/people/{{comment.user.id}}">
					<img ng-src="{{comment.user.profile_picture}}" ng-init="comment.user.profile_picture=comment.user.profile_picture || '../images/user.png'" alt="" class="circle">
				</a>
				<span class="title userInfo teal-text">
					{{comment.user.first_name}} {{comment.user.last_name}} | <span>{{comment.created | date}}</span>
				</span>
				<ng-embed
					embed-data="comment.text"
					embed-options="options"
				></ng-embed>
				<a href="#!" class="secondary-content blue-text"><i class="material-icons">thumb_up</i></a>
			</li>
		</ul>
		<loader ng-show="content.loadingComments" loader-text="loadingMore" ng-init="loadingMore='Loading comments...'"></loader>
	</div>
</div>
