<div class="card sticky-action" ng-class="getContentBg(content.content_type)">
	<div class="card-image waves-effect waves-block waves-light" style="height:250px">
		<span class="category_icon valign-wrapper" ng-bind-html="getContentIcon(content.content_type)"></span>
		<img style="height:100%" ng-hide="content.video_link" class="activator responsive-img" ng-src="{{content.header_image_link}}" ng-init="content.header_image_link = content.header_image_link ||  '../images/baby.jpg'">
		<embed-video ng-show="content.video_link" width="100%" height="250px" href="{{content.video_link}}"></embed-video>
	</div>
	<div class="card-content">
		<p>
			<a href="javascript:void(0)"><img  class="userPic" ng-src="{{content.user.profile_picture}}" ng-init="content.user.profile_picture = content.user.profile_picture || '../images/user.png'" alt="User"/></a>
		</p>

		<span class="card-title"><a ng-href="#!/posts/{{content.id}}" class="white-text truncate">{{content.content_type}}</a><i class="material-icons activator white-text">more_vert</i></span>
		<p class="userName">
			{{content.user.first_name}} {{content.user.last_name}} |
			{{content.created | date}}
		</p>
		<p class="white-text truncate activator">
			{{content.text}}
		</p>
		<!-- <pre>{{content | json}}</pre> -->
	</div>
	<div class="card-action clearfix">
		<div class="chip ">
			<i class="material-icons white-text">thumb_up</i>{{content.like_count}}
		</div>
		<div class="chip">
			<i class="material-icons white-text">share</i>{{content.share_count}}
		</div>
		<div class="chip">
			<i class="material-icons white-text">message</i>{{content.comment_count}}
		</div>
	</div>
	<div class="card-reveal">
		<span class="card-title grey-text text-darken-4">{{content.user.first_name}} {{content.user.last_name}}<i class="material-icons right">close</i></span>
		<p>{{content.text}}</p>
	</div>
</div>
