		<!-- <h6>Main Dummy Content</h6> -->
		<div class="col s12">
			<div class="card marg-bot-3">
		    	<h5>Interesting people</h5>
			      	<div class="chip">
			    	<img src="../images/peep01.jpg" alt="Contact Person">
			    		Ravi Singh
			  		</div>
			  		<div class="chip">
			    	<img src="../images/peep07.jpg" alt="Contact Person">
			    		Rita Das
			  		</div>
			  		<div class="chip">
			    	<img src="../images/peep02.jpg" alt="Contact Person">
			    		Ravi Singh
			  		</div>
			  		<div class="chip">
			    	<img src="../images/peep03.jpg" alt="Contact Person">
			    		Rita Das
			  		</div>
			  		<div class="chip">
			    	<img src="../images/peep04.jpg" alt="Contact Person">
			    		Ravi Singh
			  		</div>
			  		<div class="chip">
			    	<img src="../images/peep05.jpg" alt="Contact Person">
			    		Rita Das
			  		</div>
			  		<div class="chip">
			    	<img src="../images/peep06.jpg" alt="Contact Person">
			    		John Done
			  		</div>
			  		<div class="chip">
			    	<img src="../images/peep07.jpg" alt="Contact Person">
			    		Rita Das
			  		</div>
			  	</div>
		      <div class="card marg-bot-3">
		      <h5>Active Stuff</h5>
		      	<ul class="collection">
				    <li class="collection-item avatar">
				      <img src="../images/peep01.jpg" alt="" class="circle">
				      <span class="title">Title</span>
				      <p>First Line <br>
				         Greatly hearted has who believe. Drift allow green son walls years for blush. Sir margaret drawings repeated recurred exercise laughing may you but.
				      </p>
				      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
				    </li>
				    <li class="collection-item avatar">
				      <i class="material-icons circle">send</i>
				      <span class="title">Title</span>
				      <p>First Line <br>
				         Greatly hearted has who believe. Drift allow green son walls years for blush. Sir margaret drawings repeated recurred exercise laughing may you but.
				      </p>
				      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
				    </li>
				    <li class="collection-item avatar">
				      <i class="material-icons circle green">insert_chart</i>
				      <span class="title">Title</span>
				      <p>First Line <br>
				         Greatly hearted has who believe. Drift allow green son walls years for blush. Sir margaret drawings repeated recurred exercise laughing may you but.
				      </p>
				      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
				    </li>
				    <li class="collection-item avatar">
				      <i class="material-icons circle red">play_arrow</i>
				      <span class="title">Title</span>
				      <p>First Line <br>
				         Greatly hearted has who believe. Drift allow green son walls years for blush. Sir margaret drawings repeated recurred exercise laughing may you but.
				      </p>
				      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
				    </li>
				  </ul>
		      </div>
		      <div class="card marg-bot-3">
		      <h5>Trending Stuff</h5>
		      	<div class="row">
		      		<div class="col m12 s12 l6">
						<div class="card sticky-action light-blue darken-1">
							<div class="card-image waves-effect waves-block waves-light">
								<span class="category_icon valign-wrapper"><i class="material-icons light-blue-text text-darken-1 valign">send</i></span>
								<img class="activator responsive-img" src="../images/hero.jpg">
							</div>
							<div class="card-content">
								<p><img  class="userPic" src="../images/peep01.jpg" alt="User"/></p>
								<span class="card-title"><a href="javascript:void(0);" class="white-text truncate">Post Title whatever goes here</a><i class="material-icons activator white-text">more_vert</i></span>
								<p class="userName">Thomasin Yeobright</p>
								<p class="white-text truncate">
									some text excerpts
								</p>
							</div>
							<div class="card-action clearfix">
								<div class="chip ">
									<i class="material-icons white-text">thumb_up</i>300
								</div>
								<div class="chip">
									<i class="material-icons white-text">share</i>20
								</div>
								<div class="chip">
									<i class="material-icons white-text">message</i>156
								</div>
							</div>
							<div class="card-reveal">
								<span class="card-title grey-text text-darken-4">Post Title<i class="material-icons right">close</i></span>
								<p>Here is some more information about this product that is only revealed once clicked on.</p>
							</div>
						</div>
					</div>
					<div class="col m12 s12 l6">
						<div class="card sticky-action red darken-2">
							<div class="card-image waves-effect waves-block waves-light">
								<span class="category_icon valign-wrapper"><i class="material-icons red-text text-darken-2 valign">my_location</i></span>
								<img class="activator responsive-img" src="../images/img4.jpg">
							</div>
							<div class="card-content">
								<p><img  class="userPic" src="../images/peep02.jpg" alt="User"/></p>
								<span class="card-title"><a href="javascript:void(0);" class="white-text truncate">Goal Title whatever goes here</a><i class="material-icons activator white-text">more_vert</i></span>
								<p class="userName">Thomasin Yeobright</p>
								<p class="white-text truncate">
									some text excerpts
								</p>
							</div>
							<div class="card-action clearfix">
								<div class="chip ">
									<i class="material-icons white-text">thumb_up</i>300
								</div>
								<div class="chip">
									<i class="material-icons white-text">share</i>20
								</div>
								<div class="chip">
									<i class="material-icons white-text">message</i>156
								</div>
							</div>
							<div class="card-reveal">
								<span class="card-title grey-text text-darken-4">Goal Title<i class="material-icons right">close</i></span>
								<p>Here is some more information about this product that is only revealed once clicked on.</p>
							</div>
						</div>
					</div>
		      	</div>
		    </div>
		    </div>
		  </div>
		</div>
		<div class="col m12 s12">
		<h4>latest Posts</h4>
		<div class="row">
		<div class="col m12 s12 l6">
			<div class="card sticky-action light-blue darken-1">
				<div class="card-image waves-effect waves-block waves-light">
					<span class="category_icon valign-wrapper"><i class="material-icons light-blue-text text-darken-1 valign">send</i></span>
					<img class="activator responsive-img" src="../images/hero.jpg">
				</div>
				<div class="card-content">
					<p><img  class="userPic" src="../images/peep01.jpg" alt="User"/></p>
					<span class="card-title"><a href="javascript:void(0);" class="white-text truncate">Post Title whatever goes here</a><i class="material-icons activator white-text">more_vert</i></span>
					<p class="userName">Thomasin Yeobright</p>
					<p class="white-text truncate">
						some text excerpts
					</p>
				</div>
				<div class="card-action clearfix">
					<div class="chip ">
						<i class="material-icons white-text">thumb_up</i>300
					</div>
					<div class="chip">
						<i class="material-icons white-text">share</i>20
					</div>
					<div class="chip">
						<i class="material-icons white-text">message</i>156
					</div>
				</div>
				<div class="card-reveal">
					<span class="card-title grey-text text-darken-4">Post Title<i class="material-icons right">close</i></span>
					<p>Here is some more information about this product that is only revealed once clicked on.</p>
				</div>
			</div>
		</div>
		<div class="col m12 s12 l6">
			<div class="card sticky-action deep-orange lighten-2">
				<div class="card-image waves-effect waves-block waves-light">
					<span class="category_icon valign-wrapper"><i class="material-icons deep-orange-text text-lighten-2 valign">flash_on</i></span>
					<img class="activator responsive-img" src="../images/img3.jpg">
				</div>
				<div class="card-content">
					<p><img  class="userPic" src="../images/peep02.jpg" alt="User"/></p>
					<span class="card-title"><a href="javascript:void(0);" class="white-text truncate">Brainstorm Title whatever goes here</a><i class="material-icons activator white-text">more_vert</i></span>
					<p class="userName">Thomasin Yeobright</p>
					<p class="white-text truncate">
						some text excerpts
					</p>
				</div>
				<div class="card-action clearfix">
					<div class="chip ">
						<i class="material-icons white-text">thumb_up</i>300
					</div>
					<div class="chip">
						<i class="material-icons white-text">share</i>20
					</div>
					<div class="chip">
						<i class="material-icons white-text">message</i>156
					</div>
				</div>
				<div class="card-reveal">
					<span class="card-title grey-text text-darken-4">Brainstorm Title<i class="material-icons right">close</i></span>
					<p>Here is some more information about this product that is only revealed once clicked on.</p>
				</div>
			</div>
		</div>

		<div class="col m12 s12 l6">
			<div class="card sticky-action red darken-2">
				<div class="card-image waves-effect waves-block waves-light">
					<span class="category_icon valign-wrapper"><i class="material-icons red-text text-darken-2 valign">my_location</i></span>
					<img class="activator responsive-img" src="../images/img4.jpg">
				</div>
				<div class="card-content">
					<p><img  class="userPic" src="../images/peep02.jpg" alt="User"/></p>
					<span class="card-title"><a href="javascript:void(0);" class="white-text truncate">Goal Title whatever goes here</a><i class="material-icons activator white-text">more_vert</i></span>
					<p class="userName">Thomasin Yeobright</p>
					<p class="white-text truncate">
						some text excerpts
					</p>
				</div>
				<div class="card-action clearfix">
					<div class="chip ">
						<i class="material-icons white-text">thumb_up</i>300
					</div>
					<div class="chip">
						<i class="material-icons white-text">share</i>20
					</div>
					<div class="chip">
						<i class="material-icons white-text">message</i>156
					</div>
				</div>
				<div class="card-reveal">
					<span class="card-title grey-text text-darken-4">Goal Title<i class="material-icons right">close</i></span>
					<p>Here is some more information about this product that is only revealed once clicked on.</p>
				</div>
			</div>
		</div>
			<div class="col m12 s12 l6">
			<div class="card sticky-action amber lighten-1">
				<div class="card-image waves-effect waves-block waves-light">
					<span class="category_icon valign-wrapper"><i class="material-icons amber-text text-lighten-1 valign">wb_incandescent</i></span>
					<img class="activator responsive-img" src="../images/img3.jpg">
				</div>
				<div class="card-content">
					<p><img  class="userPic" src="../images/peep01.jpg" alt="User"/></p>
					<span class="card-title"><a href="javascript:void(0);" class="white-text truncate">Idea Title whatever goes here</a><i class="material-icons activator white-text">more_vert</i></span>
					<p class="userName">Thomasin Yeobright</p>
					<p class="white-text truncate">
						some text excerpts
					</p>
				</div>
				<div class="card-action clearfix">
					<div class="chip ">
						<i class="material-icons white-text">thumb_up</i>300
					</div>
					<div class="chip">
						<i class="material-icons white-text">share</i>20
					</div>
					<div class="chip">
						<i class="material-icons white-text">message</i>156
					</div>
				</div>
				<div class="card-reveal">
					<span class="card-title grey-text text-darken-4">Idea Title<i class="material-icons right">close</i></span>
					<p>Here is some more information about this product that is only revealed once clicked on.</p>
				</div>
			</div>
		</div>
		<div class="col m12 s12 l6">
			<div class="card sticky-action teal">
				<div class="card-image waves-effect waves-block waves-light">
					<span class="category_icon valign-wrapper"><i class="material-icons teal-text valign">terrain</i></span>
					<img class="activator responsive-img" src="../images/img4.jpg">
				</div>
				<div class="card-content">
					<p><img  class="userPic" src="../images/peep04.jpg" alt="User"/></p>
					<span class="card-title"><a href="javascript:void(0);" class="white-text truncate">Project Title whatever goes here</a><i class="material-icons activator white-text">more_vert</i></span>
					<p class="userName">Thomasin Yeobright</p>
					<p class="white-text truncate">
						some text excerpts
					</p>
				</div>
				<div class="card-action clearfix">
					<div class="chip ">
						<i class="material-icons white-text">thumb_up</i>300
					</div>
					<div class="chip">
						<i class="material-icons white-text">share</i>20
					</div>
					<div class="chip">
						<i class="material-icons white-text">message</i>156
					</div>
				</div>
				<div class="card-reveal">
					<span class="card-title grey-text text-darken-4">Project Title<i class="material-icons right">close</i></span>
					<p>Here is some more information about this product that is only revealed once clicked on.</p>
				</div>
			</div>
		</div>
		</div>
		</div>


