<div class="card marg-bot-3">
<h5 class="heading">Active Stuff</h5>
  <ul class="collection">
	  <li class="collection-item avatar">
		<img src="../images/peep01.jpg" alt="" class="circle">
		<span class="title">Title</span>
		<p>First Line <br>
		   Greatly hearted has who believe. Drift allow green son walls years for blush. Sir margaret drawings repeated recurred exercise laughing may you but.
		</p>
		<a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
	  </li>
	  <li class="collection-item avatar">
		<i class="material-icons circle">send</i>
		<span class="title">Title</span>
		<p>First Line <br>
		   Greatly hearted has who believe. Drift allow green son walls years for blush. Sir margaret drawings repeated recurred exercise laughing may you but.
		</p>
		<a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
	  </li>
	  <li class="collection-item avatar">
		<i class="material-icons circle green">insert_chart</i>
		<span class="title">Title</span>
		<p>First Line <br>
		   Greatly hearted has who believe. Drift allow green son walls years for blush. Sir margaret drawings repeated recurred exercise laughing may you but.
		</p>
		<a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
	  </li>
	  <li class="collection-item avatar">
		<i class="material-icons circle red">play_arrow</i>
		<span class="title">Title</span>
		<p>First Line <br>
		   Greatly hearted has who believe. Drift allow green son walls years for blush. Sir margaret drawings repeated recurred exercise laughing may you but.
		</p>
		<a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
	  </li>
	</ul>
</div>
