<style>
.cropArea {
	background: #E4E4E4;
	overflow: hidden;
	<!-- width:100%; -->
	/*height:240px;*/
	margin: 0px auto;
}

</style>
<div class="row">
	<div class="col s12 m12">
		<div class="card">
			<div class="card-image">
				<div ngf-drop ng-model="picFile" ngf-pattern="image/*" class="cropArea">
					<!-- <img-crop image="picFile  | ngfDataUrl" result-image="croppedDataUrl" ng-init="croppedDataUrl=''"></img-crop> -->
					<img ng-src="{{user.cover_image}}"  ng-show="user.cover_image && !picFile"/>
					<ui-cropper
						image="picFile  | ngfDataUrl"
						area-type="rectangle"
						aspect-ratio="3.15"
						result-image="croppedDataUrl"
						result-image-size="{w:815,h:260}"
						init-max-area="true"
						ng-init="croppedDataUrl=''" canvas-scalemode="true"
						ng-hide="user.cover_image && !picFile">
					</ui-cropper>
				</div>
				<button ngf-select ng-model="picFile" accept="image/*" class="btn blue" style="width:200px">Change Cover Picture</button>

			</div>

			<div class="card-content">
				<ul class="collection">
					<li class="collection-item">
						<div class="row">
							<div class="col m3">
							</div>
							<div class="col m6 center">
								<img src="{{user.profile_picture}}" alt="" ng-show="user.profile_picture && !profilePic">
								<ui-cropper image="profilePic" area-type="circle" chargement="'Loading'" result-image="croppedProfilePic"
								canvas-scalemode="true">
								</ui-cropper>
								<button ngf-select ng-model="profilePic" accept="image/*" class="btn blue" style="width:200px">Change Profile Picture</button>
							</div>
						</div>
					</li>
					<li class="collection-item">
						Name: {{user.first_name}} {{user.last_name}}
						<a href="javascript:void(0)" class="secondary-content"><i class="material-icons">edit</i></a>
					</li>

					<li class="collection-item">
						Email: {{user.email}}
						<a href="javascript:void(0)" class="secondary-content"><i class="material-icons">edit</i></a>
					</li>

					<li class="collection-item">
						<span ng-show="!changingPassword">
							Password: ********
						</span>
						<div class="card" ng-show="changingPassword">
							<form>
								<div class="col s12">
									<label for="oldPassword">Old Password</label>
									<input type="password" name="oldPassword" id="oldPassword">
								</div>
								<div class="col s12">
									<label for="newPassword">New Password</label>
									<input type="password" name="newPassword" id="newPassword">
								</div>
								<div class="col s12">
									<label for="confPassword">Confirm New Password</label>
									<input type="password" name="confPassword" id="confPassword">
								</div>
								<div class="col s12">
									<button type="button" class="btn red" ng-click="changingPassword=false">Cancle</button>
									<button type="button" class="btn blue" >Change Password</button>
								</div>
								<div class="clearfix"></div>
							</form>
						</div>
						<a href="javascript:void(0)" ng-show="!changingPassword" class="secondary-content" ng-click="changingPassword=true"><i class="material-icons">edit</i></a>
					</li>

				</ul>

			</div>

			<div class="card-action" style="text-align:right" ng-show="croppedDataUrl||croppedProfilePic">
				<button class="btn blue" ng-click="updateProfile(croppedDataUrl,croppedProfilePic)" ng-disabled="isBusy">
					<i class="material-icons left" >save</i>Save Changes
					<i class="fa fa-fw fa-spin fa-spinner" ng-show="isBusy"></i>
				</button>
			</div>

		</div>
	</div>
</div>
