<footer>
	<div class="footer-copyright dscl_foot">
		<div class="container center">
			<div class="row no-marg-b">
				<div class="col s12 l5">
					<p>Copyright &copy; 2016. All rights reserved.</p>
				</div>
				<div class="col s12 l3">
					<ul class="socialLinks">
						<li>
							<a href="javascript:void(0);">
								<span class="fa-stack fa-lg">
									<i class="fa fa-circle fa-stack-2x"></i>
									<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
								</span>
							</a>
						</li>
						<li>
							<a href="javascript:void(0);">
								<span class="fa-stack fa-lg">
									<i class="fa fa-circle fa-stack-2x"></i>
									<i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
								</span>
							</a>
						</li>
						<li>
							<a href="javascript:void(0);">
								<span class="fa-stack fa-lg">
									<i class="fa fa-circle fa-stack-2x"></i>
									<i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
								</span>
							</a>
						</li>
					</ul>
				</div>
				<div class="col s12 l4">
					<ul class="footLinks">
						<li><a href="javascript:void(0);">Privacy Policy</a></li>
						<li><a href="javascript:void(0);">Terms of Use</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>
