<div class="card sticky-action" ng-class="getContentBg(content.content_type)">
	<div class="card-image waves-effect waves-block waves-light">
		<span class="category_icon valign-wrapper" ng-bind-html="getContentIcon(content.content_type)"></span>
		<img class="activator responsive-img" ng-src="{{content.header_image_link}}" ng-init="content.header_image_link = content.header_image_link ||  '../images/baby.jpg'">
	</div>
	<div class="card-content">
		<p><img  class="userPic" ng-src="{{content.user.profile_picture}}" ng-init="content.user.profile_picture = content.user.profile_picture || '../images/user.png'" alt="User"/></p>
		<span class="card-title"><a ng-href="javascript:void(0)" class="white-text">{{content.content_type}}</a>
			<i class="material-icons white-text" data-activates='postMoreAction' data-constrainwidth="false" dropdown data-hover="false" data-beloworigin="true" data-alignment="right">more_vert</i>
		</span>
		<p class="userName">
			{{content.user.first_name}} {{content.user.last_name}} |
			{{content.created | date}}
		</p>
		<p class="white-text">
			{{content.text}}
		</p>
	</div>
	<div class="card-action clearfix">
		<div class="chip ">
			<i class="material-icons white-text">thumb_up</i>{{content.like_count}}
		</div>
		<div class="chip">
			<i class="material-icons white-text">share</i>{{content.share_count}}
		</div>
		<div class="chip">
			<i class="material-icons white-text">message</i>{{content.comment_count}}
		</div>
	</div>
</div>

<ul id='postMoreAction' class='dropdown-content'>
    <li><a href="javascript:void(0);"><i class="material-icons right">star</i>Make Favourite</a></li>
    <li><a href="javascript:void(0);">Link 2</a></li>
    <li class="divider"></li>
    <li><a href="javascript:void(0);">Link 4</a></li>
    <li><a href="javascript:void(0);">Link 5</a></li>
</ul>
