<a href="javascript:void(0);" data-activates="nav-mobile-inner" data-sidenav="left" data-menuwidth="250" data-closeonclick="false" class="button-collapse hide-on-large-only innerNav_shortBtn"><i class="material-icons">person</i></a>
<ul id="nav-mobile-inner" class="side-nav inner-sidenav fixed">
	<li>
		<div class="userView no-pad center">
			<div class="background">
				<p class="svgImg">
					<svg width="100%" height="50" viewBox="0 0 100 100" preserveAspectRatio="none">
						<path d="M0 0 L0 100 L56 100 Z" style="fill:#ffffff;" />
						<path d="M100 0 L44 100 L100 100 Z" style="fill:#ffffff;" />
					</svg>
				</p>
				<img src="../images/img9.jpg" class="responsive-img">
			</div>
			<a href="#!user" class="sideNav_userPic"><img class="circle" src="../images/peep01.jpg"><span class="blue profile_edit_btn"><i class="material-icons">edit</i></span></a>
            <p class="sideNav_userName">John Doe</p>
              <p class="no-marg">Kolkata</p>
              <p class="pad_lr_2">Him rendered may attended concerns jennings reserved now. Sympathize did now preference unpleasing mrs few.</p>
		</div>
	</li>
	<li class="white-text" ng-class="getClass('/posts')">
		<a href="#!/posts" class="active"><i class="material-icons blue-text">send</i>My Posts</a></li>
		<li class="white-text"><div class="divider"></div></li>
		<li>
			<a href="javascript:void(0);"><i class="material-icons deep-orange-text text-lighten-2">edit</i>My Blogs</a>
		</li>
		<li class="white-text"><div class="divider"></div></li>
		<li>
			<a href="javascript:void(0);"><i class="material-icons yellow-text">wb_incandescent</i>My Ideas</a>
		</li>
		<li class="white-text"><div class="divider"></div></li>
		<li>
			<a href="javascript:void(0);"><i class="material-icons orange-text">flash_on</i>My Brainstroms</a>
		</li>
		<li class="white-text"><div class="divider"></div></li>
		<li>
			<a href="javascript:void(0);"><i class="material-icons red-text">my_location</i>My Goals</a>
		</li>
		<li class="white-text"><div class="divider"></div></li>
		<li>
			<a href="javascript:void(0);"><i class="material-icons teal-text">terrain</i>My Projects</a>
		</li>
	</li>
</ul>
