	<div class="hide-on-large-only">
		<a href="javascript:void(0);" data-activates="nav-mobile-inner" data-sidenav="left" data-menuwidth="250" data-closeonclick="false" class="button-collapse hide-on-large-only btn-floating blue"><i class="material-icons">person</i></a>
		<div class="col s12 l2">
			<ul id="nav-mobile-inner" class="side-nav inner-sideNav">
				<li>
					<div class="userView no-pad center">
						<div class="background">
						<p class="svgImg">
							<svg width="100%" height="50" viewBox="0 0 100 100" preserveAspectRatio="none">
								<path d="M0 0 L0 100 L56 100 Z" style="fill:#ffffff;" />
								<path d="M100 0 L44 100 L100 100 Z" style="fill:#ffffff;" />
							</svg>
						</p>
							<img src="../images/img9.jpg" class="responsive-img">
						</div>
						<div class="userInfo-cont">
							<ul class="right hide-on-med-and-down">
							<li ng-class="getClass('/posts')">
								<a href="#!/posts" class="blue-text" tooltipped data-position="bottom" data-delay="50" data-tooltip="Posts"><i class="material-icons">send</i></a>
							</li>
							<li>
								<a href="javascript:void(0);" class="deep-orange-text text-lighten-2" tooltipped data-position="bottom" data-delay="50" data-tooltip="Blogs"><i class="material-icons">edit</i></a>
							</li>
							<li>
								<a href="javascript:void(0);" class="yellow-text" tooltipped data-position="bottom" data-delay="50" data-tooltip="Ideas"><i class="material-icons">wb_incandescent</i></a>
							</li>
							<li>
								<a href="javascript:void(0);" class="orange-text" tooltipped data-position="bottom" data-delay="50" data-tooltip="Brainstorm"><i class="material-icons">flash_on</i></a>
							</li>
							<li>
								<a href="javascript:void(0);" class="red-text" tooltipped data-position="bottom" data-delay="50" data-tooltip="Goals"><i class="material-icons">my_location</i></a>
							</li>
							<li>
								<a href="javascript:void(0);" class="teal-text" tooltipped data-position="bottom" data-delay="50" data-tooltip="Projects"><i class="material-icons">terrain</i></a>
							</li>
							<li>
								<a href="javascript:void(0);" ><span class="new badge red" style="margin-left: -25px;">4</span><i class="material-icons left">notifications</i></a>
							</li>
						</ul>
						</div>
					</div>
				</li>
				<li class="white-text"><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
				<li class="white-text"><div class="divider"></div></li>
			</ul>
		</div>
	</div>
	<div class="hide-on-med-and-down">	
		<ul id="nav-mobile-inner" class="inner-sideNav">
			<li>
				<div class="userView no-pad center">
					<div class="background">
					<p class="svgImg">
						<svg width="100%" height="50" viewBox="0 0 100 100" preserveAspectRatio="none">
							<path d="M0 0 L0 100 L56 100 Z" style="fill:#ffffff;" />
							<path d="M100 0 L44 100 L100 100 Z" style="fill:#ffffff;" />
						</svg>
					</p>
						<img src="../images/img9.jpg" class="responsive-img">
					</div>
					<div class="userInfo-cont">
						<ul class="right hide-on-med-and-down">
							<li ng-class="getClass('/posts')">
								<a href="#!/posts" class="blue-text" tooltipped data-position="bottom" data-delay="50" data-tooltip="Posts"><i class="material-icons">send</i></a>
							</li>
							<li>
								<a href="javascript:void(0);" class="deep-orange-text text-lighten-2" tooltipped data-position="bottom" data-delay="50" data-tooltip="Blogs"><i class="material-icons">edit</i></a>
							</li>
							<li>
								<a href="javascript:void(0);" class="yellow-text" tooltipped data-position="bottom" data-delay="50" data-tooltip="Ideas"><i class="material-icons">wb_incandescent</i></a>
							</li>
							<li>
								<a href="javascript:void(0);" class="orange-text" tooltipped data-position="bottom" data-delay="50" data-tooltip="Brainstorm"><i class="material-icons">flash_on</i></a>
							</li>
							<li>
								<a href="javascript:void(0);" class="red-text" tooltipped data-position="bottom" data-delay="50" data-tooltip="Goals"><i class="material-icons">my_location</i></a>
							</li>
							<li>
								<a href="javascript:void(0);" class="teal-text" tooltipped data-position="bottom" data-delay="50" data-tooltip="Projects"><i class="material-icons">terrain</i></a>
							</li>
							<li>
								<a href="javascript:void(0);" ><span class="new badge red" style="margin-left: -25px;">4</span><i class="material-icons left">notifications</i></a>
							</li>
						</ul>
					</div>
				</div>
			</li>
			<li class="white-text"><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
			<li class="white-text"><div class="divider"></div></li>
		</ul>	
	</div>
